#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');



body{
	font-family: 'Oswald', sans-serif;
	background-color: #212121;
	section{
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		.row{
			align-items: center;
    	height: 100vh;
		}
	}
}
.card{
	position: relative;
	height: 400px;
	width: 100%;
	margin: 10px 0;
	transition: ease all 2.3s;
	perspective: 1200px;
	}
	
	.cover{
		position: absolute;
		height: 100%;
		width: 100%;
		transform-style: preserve-3d;
  	transition: ease all 2.3s;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		&:before{
			content: '';
			position: absolute;
			border: 5px solid rgba(255,255,255,.5);
			box-shadow: 0 0 12px rgba(0,0,0,.3); 
			top:20px;
			left:20px;
			right:20px;
			bottom:20px;
			z-index: 2;
			transition: ease all 2.3s;
			transform-style: preserve-3d;
			transform: translateZ(0px);
		}
		&:after{
			content: '';
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			z-index: 2;
			transition: ease all 2.3s;
			background: rgba(0,0,0,.4);
		}
		&.item-a{
			background-image: url('./views/gabin-vallet-J154nEkpzlQ-unsplash (1).jpg');
		}
		&.item-b{
			background-image: url('./views/BenefitsOfStrengthTrainingForWomencdc853cb74a233646df40500d0cf977b.jpeg');
		}
		&.item-c{
			background-image: url('./views/depositphotos_85911952-stock-photo-young-woman-doing-yoga.jpeg');
		}
		h1{
			font-weight: 600;
			position: absolute;
			bottom: 55px;
			left: 50px;
			color: white;
			transform-style: preserve-3d;
  		transition: ease all 2.3s;
			z-index:3;
			font-size: 3em;
			transform: translateZ(0px);
		}
	
	}
	.card-back{
		position: absolute;
		height: 100%;
		width: 100%;
		background: #0b0f08;
		transform-style: preserve-3d;
  	transition: ease all 2.3s;
		transform: translateZ(-1px);
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			transform-style: preserve-3d;
			transition: ease transform 2.3s, ease background .5s;
			transform: translateZ(-1px) rotatey(0deg);
			background: transparent;
			
			font-weight: 200;
			font-size: 1.3em;
			color: white;
			padding: 14px 32px;
			outline: none;
			text-decoration: none;
			}
		}
	

